:root {
    --magenta: rgb(219, 42, 255);
    --slategray: rgb(46, 44, 44);
    --textSize: 18px;
}

html {
    box-sizing: border-box;
    background-color: var(--slategray);
}

.item {
    background-color: var(--magenta);
    display: grid;
    justify-content: center;
    align-items: center;
    border: 1px solid whitesmoke;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--textSize);
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    grid-template-rows: repeat(4, 20vh);
    grid-auto-flow: column;
}

@media only screen and (max-width: 950px) {
    .grid {
        grid-template-columns: repeat(2, auto);
        grid-template-rows:repeat(4, 40vh);
    }
}

@media only screen and (max-width: 550px) {
    .grid {
        grid-template-columns: auto;
        grid-template-rows:repeat(8, 40vh);
    }
}